.conditions-wrapper {
    text-align: justify;

    .section-title-content {
        margin: 20px 0;

        .block-title {
            p {
                font-size: 15px;
            }
        }
    }
}