// COLORS
.my-resume-color-orange-sunglow {
  color: var(--orange-sunglow) !important;
}

// BORDERS
.my-resume-border-top-orange-sunglow {
  border-top: 1px solid var(--orange-sunglow) !important;
}

// UTILS
.my-resume-padding-40 {
  padding: 40px 0px !important;
}

.my-resume-margin-40 {
  margin: 40px 0px !important;
}
