@import '../public/assets/scss/professional-resume';

// Scrollbar
::-webkit-scrollbar-thumb {
    background-color: var(--slate-grey);
    border-radius: 20px;
}

::-webkit-scrollbar {
    width: 10px;
}

#scroll-top {
    display: none;
}

.scroll {
    display: block;
    bottom: 50px;
    position: fixed;
    right: 30px;
    float: right;
    z-index: 2;
}

#site_header {
    z-index: 1;
}

.pt-wrapper {
    box-shadow: #969696 4px 4px 2px;

    .socials-links-multilanguages {
        text-align: right;
    }
}

.pt-wrapper-scroll {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;

    .socials-links-multilanguages {
        text-align: left;
    }

    .site-nav {
        background-color: var(--orange-sunglow);
        box-shadow: #969696 4px 4px 2px;
    }
}

.store-img-flag {
    width: 25px;
    height: 25px;
}

.resume-show-hide {
    cursor: pointer;
    color: var(--tomato);
}

.resume-selected-lang {
    display: flex;
    cursor: pointer;
    left: 10px;
    position: relative;

    p {
        padding-left: 5px;
        color: var(--surva-grey);
        font-weight: 600;
    }
}

.header-dropdown {
    position: relative;
}

.header-dropdown:hover>.header-menu,
.header-dropdown:focus>.header-menu {
    visibility: visible;
    opacity: 1;
}

.header-dropdown:focus>.header-menu,
.header-dropdown:hover>.header-menu,
.header-intro-clearance .header-menu ul {
    width: 120px;
}

.header-menu ul li {
    padding: 5px 0px 0px;
    list-style: none;

    &:hover {
        background-color: var(--white-smoke);
        color: var(--white);
    }
}

.header-menu {
    position: absolute;
    left: 1.5rem;
    z-index: 20;
    min-width: 100%;
    visibility: hidden;
    opacity: 0;
    background-color: var(--white);
    box-shadow: 2px 5px 8px rgba(51, 51, 51, 0.05), -2px 5px 8px rgba(51, 51, 51, 0.05);
    transition: all .25s;
    width: 120px;

    ul {
        padding: 0;
        margin: 0;
        position: fixed;
        width: 120px;
        background: var(--white);
        right: 15px;
    }
}

.subpages {
    margin-top: 4px;
    left: -3px;
}

// Loader
.slider-loader {
    color: #333;

    &:after {
        content: '\f311';
        display: flex;
        align-items: center;
        justify-content: center;
        width: 5rem;
        height: 5rem;
        margin-top: -2.5rem;
        margin-left: -2.5rem;
        font-family: "molla";
        position: absolute;
        left: 50%;
        top: 50%;
        font-size: 4rem;
        transform-origin: center center;
        animation: rotating 3s linear infinite;
        z-index: 20;
    }
}

.site-nav {
    padding: 15px 50px;
}

ul.social-links {
    float: none !important;
}

ul.site-multilanguages {
    margin: 0;
    display: inline-flex;
}

.site-title {
    font-size: 2rem;
    text-shadow: rgb(150, 150, 150) 4px 4px 2px;
    text-transform: uppercase;
    letter-spacing: 1.4px;
}

.cd-headline {
    font-size: 1.5em !important;

    span {
        color: var(--white);
        left: 15px;
    }

    .cd-words-wrapper {
        b {
            color: var(--orange-sunglow);
        }
    }
}

.about-description {
    text-align: justify;
}

.my-resume-footer {
    margin: 15px 0;
}

.my-resume-copyright {
    margin: 0 5px;
}

footer {
    position: fixed;
    left: 3px;
    bottom: 0;
    width: 100%;
    background-color: var(--tomato) !important;
    color: var(--white);
    -webkit-box-shadow: inset 0 30px 30px -20px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: inset 0 30px 30px -20px rgba(0, 0, 0, 0.8);
    box-shadow: inset 0 30px 30px -20px rgba(0, 0, 0, 0.8);

    &::after {
        display: block;
        width: 5px;
        height: 100%;
        position: absolute;
        bottom: 5px;
        left: -5px;
        content: "";
        border: 1px solid var(--tomato) !important;
        transform: skew(0deg, 65deg);
        -ms-transform: skew(0deg, 65deg);
        -webkit-transform: skew(0deg, 65deg);
        -o-transform: skew(0deg, 65deg);
        -moz-transform: skew(0deg, 65deg);
        background: var(--tomato) !important;
    }
}

.my-resume-footer-link {
    padding: 0px 5px !important;

    a {
        color: var(--white) !important;
    }

}

.bullet {
    display: inline;
    margin: 0 4px;
}

.bullet::after {
    content: "\2022";
}

iframe {
    width: 100%;
    height: 600px !important;
}

/********************************************/
/*           MEDIA QUERIES                  */
/********************************************/
@media only screen and (max-width: 991px) {
    .my-photo-small img {
        height: 100%;
        border: 5px solid var(--orange-sunglow);
    }
    .site-main-menu {
        display: flex;
        float: none !important;
        margin-top: 15px;
    }
}