@import "../public/assets/scss/professional-resume";

// Scrollbar
::-webkit-scrollbar-thumb {
  background-color: var(--slate-grey);
  border-radius: 20px;
}

::-webkit-scrollbar {
  width: 10px;
}

li::marker {
  color: var(--orange-sunglow) !important;
}

#scroll-top {
  display: none;
}

.page-wrapper {
  position: relative;
  min-height: 100vh;

  .subpages-wrapper {
    padding-bottom: 2.5rem;
  }
}

.scroll {
  display: block;
  bottom: 50px;
  position: fixed;
  right: 30px;
  float: right;
  z-index: 2;
}

#site_header {
  z-index: 1;
}

.ReactModal__Overlay.ReactModal__Overlay--after-open {
  background-color: rgba(255, 255, 255, 0.2) !important;
}

.pt-wrapper {
  box-shadow: #969696 4px 4px 2px;

  .socials-links-multilanguages {
    @include small() {
      text-align: center;
    }
    text-align: right;
  }
}

.pt-wrapper-scroll {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;

  .socials-links-multilanguages {
    text-align: left;
  }

  .site-nav {
    background-color: var(--orange-sunglow);
    box-shadow: #969696 4px 4px 2px;
  }
}

.store-img-flag {
  width: 25px;
  height: 25px;
}

.resume-show-hide {
  cursor: pointer;
  color: var(--tomato);
}

.resume-selected-lang {
  display: flex;
  cursor: pointer;
  left: 10px;
  position: relative;

  p {
    padding-left: 5px;
    color: var(--surva-grey);
    font-weight: 600;
  }
}

.header-dropdown {
  position: relative;
}

.header-dropdown:hover > .header-menu,
.header-dropdown:focus > .header-menu {
  visibility: visible;
  opacity: 1;
}

.header-dropdown:focus > .header-menu,
.header-dropdown:hover > .header-menu,
.header-intro-clearance .header-menu ul {
  width: 120px;
}

.header-menu ul li {
  padding: 5px 0px 0px;
  list-style: none;

  &:hover {
    background-color: var(--white-smoke);
    color: var(--white);
  }
}

.header-menu {
  position: absolute;
  left: 1.5rem;
  z-index: 20;
  min-width: 100%;
  visibility: hidden;
  opacity: 0;
  background-color: var(--white);
  box-shadow: 2px 5px 8px rgba(51, 51, 51, 0.05),
    -2px 5px 8px rgba(51, 51, 51, 0.05);
  transition: all 0.25s;
  width: 120px;

  ul {
    padding: 0;
    margin: 0;
    position: fixed;
    width: 120px;
    background: var(--white);
    right: 15px;
  }
}

.subpages {
  margin-top: 4px;
  left: -3px;
}

// Loader
.slider-loader {
  color: #333;

  &:after {
    background-image: url("loading.gif");
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5rem;
    height: 5rem;
    margin-top: -2.5rem;
    margin-left: -2.5rem;
    font-family: "molla";
    position: absolute;
    left: 50%;
    top: 50%;
    font-size: 4rem;
    transform-origin: center center;
    animation: rotating 3s linear infinite;
    z-index: 20;
  }
}

.site-nav {
  padding: 15px 50px;
}

ul.social-links {
  float: none !important;
}

ul.site-multilanguages {
  @include small() {
    padding: 0;
  }
  margin: 0;
  display: inline-flex;
}

.site-title {
  font-size: 2rem;
  text-shadow: rgb(150, 150, 150) 4px 4px 2px;
  text-transform: uppercase;
  letter-spacing: 1.4px;
}

.cd-headline {
  font-size: 1.5em !important;

  span {
    color: var(--white);
    left: 15px;
  }

  .cd-words-wrapper {
    b {
      color: var(--orange-sunglow);
    }
  }
}

.my-resume-color-orange {
  color: var(--orange-sunglow) !important;
}

.my-resume-color-black {
  color: var(--black) !important;
}

.my-resume-color-tomato {
  color: var(--tomato) !important;
}

.my-resume-testimonial-img {
  border: 3px solid var(--orange-sunglow) !important;
}

.about-description {
  text-align: justify;
}

.my-resume-footer {
  margin: 15px 0;
}

.my-resume-copyright {
  margin: 0 5px;
}

.my-resume-contact-icons {
  color: var(--tomato) !important;
  font-weight: 600;
}

.my-resume-contact-map {
  margin: 20px 0px;
}

.my-resume-skill-percentage {
  background-color: var(--orange-sunglow) !important;
  border: 2px solid var(--white);
  -moz-border-radius: 9px;
  -webkit-border-radius: 9px;
  border-radius: 9px;
  height: 10px;
  padding: 0;
}

.pt-page .my-resume-skill-percentage {
  -webkit-transition: all 2.5s ease-in-out;
  -moz-transition: all 2.5s ease-in-out;
  -o-transition: all 2.5s ease-in-out;
  -ms-transition: all 2.5s ease-in-out;
  transition: all 2.5s ease-in-out;
}

.my-resume-skill-percentage.skill-1 {
  width: 10%;
}

.my-resume-skill-percentage.skill-2 {
  width: 20%;
}

.my-resume-skill-percentage.skill-3 {
  width: 30%;
}

.my-resume-skill-percentage.skill-4 {
  width: 40%;
}

.my-resume-skill-percentage.skill-5 {
  width: 50%;
}

.my-resume-skill-percentage.skill-6 {
  width: 60%;
}

.my-resume-skill-percentage.skill-7 {
  width: 70%;
}

.my-resume-skill-percentage.skill-8 {
  width: 80%;
}

.my-resume-skill-percentage.skill-9 {
  width: 90%;
}

.my-resume-skill-percentage.skill-10 {
  width: 100%;
}

.my-resume-margin-cta,
.my-resume-margin-items,
.my-resume-open-modal {
  margin: 20px 0px;
}

.my-resume-logo-modal {
  width: 125px;
  height: 50px;
}

.my-resume-modal-description,
.my-resume-modal-responsability,
.my-resume-modal-technical {
  padding: 35px 0 10px;
  font-weight: 600;
  text-decoration: underline;
}

.my-resume-badge-danger {
  background: var(--tomato) !important;
  margin-right: 5px;
}

.my-resume-close-modal {
  float: right;
  right: 0;
  padding-bottom: 15px;
}

.my-resume-version-number {
  margin-left: 5px;
  background: var(--orange-sunglow);
  color: var(--white);
  padding: 5px;
  border-radius: 5px;

  &:hover {
    color: var(--orange-sunglow);
    background: var(--white);
  }
}

.my-resume-about-title {
  display: flex;

  .my-resume-about-subtitle {
    margin-left: 10px;
    cursor: pointer;

    &:hover {
      i {
        color: var(--orange-sunglow);
      }
    }
  }
}

.my-resume-error-404 {
  padding-bottom: 50px;
}

.my-resume-tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;

  .my-resume-tooltiptext {
    visibility: hidden;
    width: max-content;
    background-color: var(--slate-grey);
    color: var(--white);
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;

    &::after {
      content: "";
      position: absolute;
      top: 100%;
      left: 60px;
      margin-left: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: var(--slate-grey) transparent transparent transparent;
    }
  }

  &:hover {
    .my-resume-tooltiptext {
      visibility: visible;
      opacity: 1;
    }
  }
}

footer {
  position: fixed;
  left: 3px;
  bottom: 0;
  width: 100%;
  background-color: var(--tomato) !important;
  color: var(--white);
  -webkit-box-shadow: inset 0 30px 30px -20px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: inset 0 30px 30px -20px rgba(0, 0, 0, 0.8);
  box-shadow: inset 0 30px 30px -20px rgba(0, 0, 0, 0.8);

  &::after {
    display: block;
    width: 5px;
    height: 100%;
    position: absolute;
    bottom: 5px;
    left: -5px;
    content: "";
    border: 1px solid var(--tomato) !important;
    transform: skew(0deg, 65deg);
    -ms-transform: skew(0deg, 65deg);
    -webkit-transform: skew(0deg, 65deg);
    -o-transform: skew(0deg, 65deg);
    -moz-transform: skew(0deg, 65deg);
    background: var(--tomato) !important;
  }
}

.my-resume-footer-link {
  padding: 0px 5px !important;

  a {
    color: var(--white) !important;
  }
}

.bullet {
  display: inline;
  margin: 0 4px;
}

.bullet::after {
  content: "\2022";
}

iframe {
  width: 100%;
  height: 600px !important;
}

/********************************************/
/*           MEDIA QUERIES                  */
/********************************************/
@include small() {
  .my-photo-small img {
    height: 100%;
    border: 5px solid var(--orange-sunglow);
  }

  .site-main-menu {
    display: flex;
    float: none !important;
    margin-top: 15px;
  }

  .my-resume-tooltip {
    .my-resume-tooltiptext {
      width: auto;
    }
  }

  .cd-headline {
    .cd-words-wrapper {
      display: none !important;
    }
  }

  .pt-wrapper {
    width: 0%;
    height: 0%;
  }

  .mobile-menu-hide {
    margin-top: -120%;
  }
}
